@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

*{
  text-teal-600 {
    --tw-text-opacity: 1 !important;
    color: rgba (148, 119, 238, 1) / var(--tw-text-opacity) !important;
  }
  @media (min-width: 640px) {
    .sm\:w-80 {
        width: 14rem !important;
    }
}
}
@layer utilities {
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-600 {
    animation-delay: 600ms;
  }
  .animation-delay-900 {
    animation-delay: 900ms;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.8s ease forwards;
  }
}